.productCard {
  border: 1px solid gray;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

h2.filter-container-title {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 1rem 0;
  &:first-child {
    margin-top: 0;
  }
}
.brandContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.15rem;
  max-height: 225px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  font-size: 0.9rem;
  padding: 1rem 1.15rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

  .text-detail {
    background-color: #f9f9f9;
    font-size: 0.9rem;
  }

  .checkbox-row {
    padding: 0.2rem 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.flex-1 {
  flex: 0 0 1 50%;
}
